@import "tailwindcss";

@theme {
  --color-amber: #F59E0B;
  --color-dark: #111111;
  --color-white: #FFFFFF;
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
